<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Discovered My Secret!</h1>

  <%  usersWithSecrets.forEach(function(user){ %>
      <p class="secret-text"><%=user.secret%></p>
      <% if(secret){ %>
        <% secret.forEach(function(sec){ %>
        <%  if(sec.secretU === user.secret){ %>
            <p class="comment"><%=sec.comment%></p>
        <%  }%>
        <%  })%>
      <% }%>
    <form class="" action="/secrets" method="post">
      <div class="form-group">
        <input class="form-control text-center col-lg-4" type="text" name="inpcomment" placeholder="wirte comment" style="margin-left: auto; margin-right: auto;">
        <button class="btn btn-dark" type="submit" value="<%=user.secret%>" name="bsec">add comment</button>
        </div>
    </form>
      <hr>
  <%  }) %>




    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
